= render partial: 'autoschools/blocks/autoschool_baner'
= render partial: 'autoschools/blocks/short_info'
.container
  .row
    = render partial: 'autoschools/blocks/left_sidebar'
    = render partial: 'autoschools/blocks/description_block'
=render partial: 'autoschools/blocks/photos_block'