:scss
  .description-block-container {
    margin-top: 15px;
  }

.description-block-container.col-md-8
  Школа вождения тпгепыуе отпил; - это исключительно практическая подготовка вождению.
  %p
  %p
    %strongНаши уроки смогут помочь:

  \- начинающему водителю - как основные или дополнительные уроки при обучении 'на права'.
  в том числе подготовка и сопровождение практического экзамена в ГАИ;
  %p
  \- восстановить навык после перерыва - обучение начинаем на учебном авто и продолжаем на
  вашем;
  %p
  \- совершенствовать безопасное вождение в Киеве - интенсивное обучение безопасному
  вождению в городе + базовый контраварийный навык;
  %p
  \- приобрести навык контраварийного вождения (или так называемого экстремального
  вождения) - обучение приемам вождения в случае возникновения нештатной дорожной
  ситуации;
  %p
  %p
    %strong Организационные вопросы:
  %p
  \- индивидуальный подход и нагрузки на практических уроках:
  %p
  \- возможность поурочнои оплаты;
  %p
  \- занятия на большой площадке для вождения и в городе;
  %p
  \- подача авто по Киеву + пригород (Вишневое. Боярка. Ирпень, Буча);
  %p
  \- обучение на учебных авто автомат и механика, а так же авто обучаемых
  %p
  %p
    %strong Длительность полного курса обучения:
  %p
  обучение практическому вождению не только начинающих, но и для совершенствования
  %p
  после автошколы, а так же при восстановлении навыка вождения и обучении
  контраварийному вождению - производится индивидуально
  %p
  мы учим тому - что вам необходимо
  %p
  для Формирования оптимальной нагрузки, для скорейшего получения желаемого результата в
  обучении мы используем такие программы:
  %p
  \- СТАРТ - обучение с нуля до навыка. позволяющего сдать на категорию В - до т 0 занятий;
  %p
  \- МЕГАПОЛИС - восстановление и совершенствование вождения с целью самостоятельного
  безопасного вождения на своем автомобиле - до 8 занятий;
  %p
  \- контраварийно ие - до 5 занятий