:scss
  @media only screen and (min-width: 992px) and (max-width: 1200px){
    .gl-cta-content-wrapper p {
      width: 100%!important;
    }
  }
%section.gl-cta-section
  .container
    .row
      .gl-cta-content-wrapper
        %p
          = t('download')
        %ul
          %li
            = link_to '#', nil, class: 'gl-google-play-btn'
          %li
            = link_to '#', nil, class: 'gl-app-store-btn'